<div class="container grey-box">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center intro-text ">
            <strong>
                {{clinic.name}}
            </strong>
        </h1>
    </div>
</div>
<div class="container paddingb-40">
    <div class="col-md-6 col-md-offset-3">
        <div class="paragraph-text" ng-repeat="paragraph in clinic.paragraphs">
            {{paragraph}}
        </div>
        <img ng-src="img/clinici/singlepage/{{clinic.name}}.png" class="img-reponsive clinic-single-img">
    </div>
</div>

<footer-directive />